################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Jinx.LeetCode/obj
/.vs/Jinx.LeetCode/v16
/Jinx.LeetCode/bin/Debug/netcoreapp3.1
